@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.space-background {
  position: absolute;
  inset: 0;

  background-image:
    url('/public/starryBackground2.jpg');

  background-size: cover;
  background-position: center;

  z-index: 0;
}

.planet-card {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-image {
  width: 240px;

  filter:
    drop-shadow(0 0 25px rgba(255,255,255,.4));
  cursor: pointer;
  animation: float 6s ease-in-out infinite;

}

.planet-image:hover{
  transform: scale(1.5);

   filter:
    drop-shadow(0 0 35px rgba(255,255,255,.7))
    drop-shadow(0 0 60px rgba(255,213,74,.5));
}

.planet-title {
  margin-top: 2rem;

  color: #ffd54a;

  font-size: 1rem;

  text-shadow:
    0 0 8px rgba(255,213,74,.8),
    0 0 20px rgba(255,213,74,.5);
}

@keyframes float {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.orbit-container {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 700px;
  height: 700px;

  transform: translate(-50%, -50%);

  pointer-events: none;
}

.orbit-item {
  position: absolute;

  background: transparent;
  border: none;

  color: #ffd54a;

  cursor: pointer;

  font-size: 0.9rem;

  transition:
    transform .2s ease,
    opacity .2s ease;

  text-shadow:
    0 0 8px rgba(255,213,74,.8);

  pointer-events: auto;
}

.orbit-item:hover {
  transform: scale(1.5);
}


/*Satélite contacto*/

.satellite-card {
  position: absolute;

  top: 10%;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.satellite-image {
  width: 90px;

  filter:
    drop-shadow(0 0 25px rgba(255,255,255,.4));
  animation: float 9s ease-in-out infinite;
 
  cursor: pointer;
  animation:
    satelliteFloat 5s ease-in-out infinite;

  overflow: hidden;
}

.satellite-label {
    
    color: #ffd54a;

    font-size: 0.65rem;

    text-align: center;

    z-index: 2;

    text-shadow:
        0 0 4px rgba(255,255,255,.5);
}

.satellite-card:hover {
  filter: brightness(1.1);

}


@keyframes satelliteFloat {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}


/*Earth about*/

.earth-card {
  position: absolute;

  top: 7%;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.earth-image {
  width: 60px;

  filter:
    drop-shadow(0 0 25px rgba(255,255,255,.4));
  animation: float 9s ease-in-out infinite;
 
  cursor: pointer;

  overflow: hidden;
}

.earth-card:hover {
  filter: brightness(1.1);

}

/*Jupiter CV Card*/

.jupiter-card {
  position: absolute;

  top: 55%;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jupiter-image {
  width: 60px;

  filter:
    drop-shadow(0 0 25px rgba(255,255,255,.4));
  animation: float 9s ease-in-out infinite;
 
  cursor: pointer;

  overflow: hidden;
}

.jupiter-card:hover {
  filter: brightness(1.1);

}